In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from datetime import date

In [3]:
applicant_df_2 = pd.read_csv(
    Path('/Users/ameerirfan/Desktop/FT-BTC-Activities/FT-BTC_Unit_13/applicants_data_2.csv',)
)

applicant_df_2.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
applicant_df_2.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [5]:
applicant_df_2 = applicant_df_2.drop(columns=['EIN','NAME'])
applicant_df_2.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
cat_variables_2 = list(applicant_df_2.dtypes[applicant_df_2.dtypes=='object'].index)
cat_variables_2

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
enc_2 = OneHotEncoder(sparse=False)

enc_data_2 = enc_2.fit_transform(applicant_df_2[cat_variables_2])

In [10]:
enc_df_2 = pd.DataFrame(
    enc_data_2,
    columns=enc_2.get_feature_names(cat_variables_2)
)

enc_df_2.head()

/Users/ameerirfan/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
non_cat_variables_2 = list(applicant_df_2.dtypes[applicant_df_2.dtypes!='object'].index)
non_cat_variables_2

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [12]:
enc_df_2= pd.concat([applicant_df_2[non_cat_variables_2], enc_df_2], axis=1)

enc_df_2.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
Y = enc_df_2['IS_SUCCESSFUL']
Y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [15]:
X = enc_df_2.drop(columns=['IS_SUCCESSFUL'])
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y)

In [18]:
scaler = StandardScaler()

X_scaler = scaler.fit(X_train)

X_train_scaler_2 = X_scaler.transform(X_train)
X_test_scaler_2 = X_scaler.transform(X_test)

In [19]:
num_input_feat = len(X_train.iloc[0])
num_input_feat

116

In [26]:
num_output_neurons_2 = 1

In [27]:
hidden_nodes_layer1_2 = np.floor(np.mean([num_input_feat,num_output_neurons_A1]))

hidden_nodes_layer1_2

58.0

In [28]:
hidden_nodes_layer2_2 = np.floor(np.mean([hidden_nodes_layer1_A1,num_output_neurons_A1]))
hidden_nodes_layer2_2

29.0

In [29]:
nn_2 = Sequential()

In [31]:
nn_2.add(
    Dense(
        units=hidden_nodes_layer1_2,
        activation='relu',
        input_dim=num_input_feat
    )
)

nn_2.add(
    Dense(
        units=hidden_nodes_layer2_2,
        activation='relu'
    )
)

nn_2.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)


nn_2.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [32]:
nn_2.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [35]:
epochs=50
fit_model_2 = nn_2.fit(
    X_train_scaler_2,
    Y_train,
    epochs=epochs
)

Epoch 1/50
804/804 [==============================] - 1s 915us/step - loss: 0.5752 - accuracy: 0.7158
Epoch 2/50
804/804 [==============================] - 1s 862us/step - loss: 0.5533 - accuracy: 0.7300
Epoch 3/50
804/804 [==============================] - 1s 833us/step - loss: 0.5496 - accuracy: 0.7310
Epoch 4/50
804/804 [==============================] - 1s 958us/step - loss: 0.5474 - accuracy: 0.7318
Epoch 5/50
804/804 [==============================] - 1s 927us/step - loss: 0.5461 - accuracy: 0.7320
Epoch 6/50
804/804 [==============================] - 1s 901us/step - loss: 0.5447 - accuracy: 0.7323
Epoch 7/50
804/804 [==============================] - 1s 860us/step - loss: 0.5441 - accuracy: 0.7342
Epoch 8/50
804/804 [==============================] - 1s 864us/step - loss: 0.5435 - accuracy: 0.7351
Epoch 9/50
804/804 [==============================] - 1s 909us/step - loss: 0.5420 - accuracy: 0.7344
Epoch 10/50
804/804 [==============================] - 1s 853us/step - loss: 0.5418 - accuracy: 0.7345
Epoch 11/50
804/804 [==============================] - 1s 918us/step - loss: 0.5415 - accuracy: 0.7360
Epoch 12/50
804/804 [==============================] - 1s 869us/step - loss: 0.5408 - accuracy: 0.7357
Epoch 13/50
804/804 [==============================] - 1s 969us/step - loss: 0.5407 - accuracy: 0.7361
Epoch 14/50
804/804 [==============================] - 1s 867us/step - loss: 0.5399 - accuracy: 0.7360
Epoch 15/50
804/804 [==============================] - 1s 891us/step - loss: 0.5397 - accuracy: 0.7357
Epoch 16/50
804/804 [==============================] - 1s 911us/step - loss: 0.5390 - accuracy: 0.7355
Epoch 17/50
804/804 [==============================] - 1s 855us/step - loss: 0.5390 - accuracy: 0.7381
Epoch 18/50
804/804 [==============================] - 1s 853us/step - loss: 0.5384 - accuracy: 0.7371
Epoch 19/50
804/804 [==============================] - 1s 843us/step - loss: 0.5387 - accuracy: 0.7362
Epoch 20/50
804/804 [==============================] - 1s 840us/step - loss: 0.5384 - accuracy: 0.7371
Epoch 21/50
804/804 [==============================] - 1s 835us/step - loss: 0.5378 - accuracy: 0.7365
Epoch 22/50
804/804 [==============================] - 1s 835us/step - loss: 0.5380 - accuracy: 0.7377
Epoch 23/50
804/804 [==============================] - 1s 830us/step - loss: 0.5372 - accuracy: 0.7372
Epoch 24/50
804/804 [==============================] - 1s 835us/step - loss: 0.5371 - accuracy: 0.7373
Epoch 25/50
804/804 [==============================] - 1s 830us/step - loss: 0.5369 - accuracy: 0.7381
Epoch 26/50
804/804 [==============================] - 1s 871us/step - loss: 0.5366 - accuracy: 0.7380
Epoch 27/50
804/804 [==============================] - 1s 860us/step - loss: 0.5365 - accuracy: 0.7381
Epoch 28/50
804/804 [==============================] - 1s 878us/step - loss: 0.5369 - accuracy: 0.7379
Epoch 29/50
804/804 [==============================] - 1s 931us/step - loss: 0.5357 - accuracy: 0.7391
Epoch 30/50
804/804 [==============================] - 1s 933us/step - loss: 0.5358 - accuracy: 0.7383
Epoch 31/50
804/804 [==============================] - 1s 851us/step - loss: 0.5356 - accuracy: 0.7378
Epoch 32/50
804/804 [==============================] - 1s 894us/step - loss: 0.5352 - accuracy: 0.7390
Epoch 33/50
804/804 [==============================] - 1s 833us/step - loss: 0.5351 - accuracy: 0.7383
Epoch 34/50
804/804 [==============================] - 1s 832us/step - loss: 0.5348 - accuracy: 0.7389
Epoch 35/50
804/804 [==============================] - 1s 851us/step - loss: 0.5346 - accuracy: 0.7392
Epoch 36/50
804/804 [==============================] - 1s 852us/step - loss: 0.5349 - accuracy: 0.7391
Epoch 37/50
804/804 [==============================] - 1s 839us/step - loss: 0.5341 - accuracy: 0.7394
Epoch 38/50
804/804 [==============================] - 1s 857us/step - loss: 0.5339 - accuracy: 0.7397
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7393
Epoch 40/50
804/804 [==============================] - 1s 913us/step - loss: 0.5340 - accuracy: 0.7404
Epoch 41/50
804/804 [==============================] - 1s 845us/step - loss: 0.5339 - accuracy: 0.7389
Epoch 42/50
804/804 [==============================] - 1s 836us/step - loss: 0.5336 - accuracy: 0.7402
Epoch 43/50
804/804 [==============================] - 1s 839us/step - loss: 0.5334 - accuracy: 0.7393
Epoch 44/50
804/804 [==============================] - 1s 839us/step - loss: 0.5332 - accuracy: 0.7401
Epoch 45/50
804/804 [==============================] - 1s 845us/step - loss: 0.5327 - accuracy: 0.7404
Epoch 46/50
804/804 [==============================] - 1s 903us/step - loss: 0.5327 - accuracy: 0.7395
Epoch 47/50
804/804 [==============================] - 1s 838us/step - loss: 0.5329 - accuracy: 0.7396
Epoch 48/50
804/804 [==============================] - 1s 845us/step - loss: 0.5332 - accuracy: 0.7399
Epoch 49/50
804/804 [==============================] - 1s 895us/step - loss: 0.5327 - accuracy: 0.7405
Epoch 50/50
804/804 [==============================] - 1s 855us/step - loss: 0.5322 - accuracy: 0.7400

In [36]:
model_loss, model_accuracy = nn_2.evaluate(
                                        X_test_scaler_2,
                                        Y_test,
                                        verbose=2
)

print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5533 - accuracy: 0.7342 - 339ms/epoch - 1ms/step
Loss: 0.5532958507537842, Accuracy: 0.7342274188995361

In [39]:
results_df=pd.DataFrame(
                    data={
                        'Date': [date.today()],
                        'Model'   : [1],
                        'Observations':['It uses aritmetic mean to define number of nodes'],
                        'Loss'    : [model_loss], 
                        'Accuracy': [model_accuracy],
                        'Hidden layers': 2,
                        'Input Features':[num_input_feat],
                        'Output Neurons': [num_output_neurons_A1],
                        'Neurons in Hidden Layers1' : [hidden_nodes_layer1_2],
                        'Neurons in Hidden Layers2' : [hidden_nodes_layer2_2],
                        'Epochs'         : [epochs],
                        'Activation Hidden layer 1': ['relu'],
                        'Activation Hidden layer 2': ['relu'],
                        'Activation Output layer 1': ['sigmoid'],
                        'loss':['binary_crossentropy'],
                        'optimizer':['adam'],
                        'metrics':['accuracy'],

                        
                    })

print(results_df.T)

                                                                          0
Date                                                             2022-08-27
Model                                                                     1
Observations               It uses aritmetic mean to define number of nodes
Loss                                                               0.553296
Accuracy                                                           0.734227
Hidden layers                                                             2
Input Features                                                          116
Output Neurons                                                            1
Neurons in Hidden Layers1                                              58.0
Neurons in Hidden Layers2                                              29.0
Epochs                                                                   50
Activation Hidden layer 1                                              relu
Activation Hidden layer 2                                              relu
Activation Output layer 1                                           sigmoid
loss                                                    binary_crossentropy
optimizer                                                              adam
metrics                                                            accuracy

In [40]:
results_df.to_csv('/Users/ameerirfan/Desktop/FT-BTC-Activities/FT-BTC_Unit_13/results.csv', mode='a')

In [41]:
Path = Path('/Users/ameerirfan/Desktop/FT-BTC-Activities/FT-BTC_Unit_13/AlphabetSoup_2.h5')
nn_2.save(Path)